/* App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.editor {
  flex: 1;
  overflow-y: auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #e9ecef;
}

.preview {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #f8f9fa;
  position: relative;
}

.clear{
  border: 2px solid black;
  background: grey;
  border-radius: 8px;
  margin: 5px;
  width: fit-content;
  font-size: 20px;
  padding: 5px;
}
